rest-in-gif{
  display: block;
  & section {
    margin: 10%;
    border: 2px solid grey;
  }
  & h3 {
    padding: 3%;
  }
  & img {
    opacity: 0;
    transition: opacity 1s ease-out;
    margin: 1%;
    width: 60%;
  }
  & figure {
    min-width: 300px;
    min-height: 300px;
  }
}